<section id="coolstuff">
<div class="container">
  <h3>Cool stuff</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>	
			- Time series of Landsat data can capture some land dynamics that would be missed if we 
            only analyzed individual images at a time. Here we can see how seasonal flooding and drying
            of a river margin ends up in enough sand deposition that the flooding stops over time. 
            Eventually vegetation starts to grow.
        <img src="{{ site.baseurl }}static/img/water_to_sand_TS.png"> 
		</h5>
	    <h5>	
			- Add regrowth example with map
        </h5>
        <h5>
            - Add amplitude of flooding image
		</h5>	
		
    </div>
  </div>
</div>
</section>
