<section id="research">
<div class="container">
  <h3>Research</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/parevalo/workflow">Area estimation</a></strong>
			- This project aims at estimating areas of land cover change in the Colombian Amazon between 2001 to the present. This is done using time series of Landsat data to detect the changes and create temporally consistent maps of stable and change classes. These maps are in turn used as the basis for a stratified sampling, for which reference data are collected. Reference and map labels are used to apply unbiased estimators of area that yield values of area with 95% confidence intervals. 
		</h5>
		
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Spatial error</a></strong>
			- Reference samples allow us to estimate accuracies and errors that apply for the entire population (e.g. a map class). However, estimating the errors associated with the classification of individual pixels is not a straightforward task. Classification probabilities calculated by any classification algorithm (e.g. RandomForest) do not necessarilly tell us about the degree of "correctness" of that pixel. This project aims at solving that problem by testing multiple alternatives to spatialized the map errors using point reference samples. This project is currently in progress. 
			
		</h5>

		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Carbon bookkeeping model</a></strong>
			- Dense time series of Landsat observations can be used in conjunction with field plot data, carbon stock maps and other input data to estimate the carbon dynamics at a Landsat pixel level. This project aims at building a model that takes these inputs and translates them into rates and values of carbon emission and sequestration, estimating its uncertainty. This work is currently in progress. 
			
		</h5>


    </div>
  </div>
</div>
</section>
